
#Date { font-size:2em; }

ul { width:100%; list-style:none; margin: 1em 0; padding:1em 0; }
ul li { display:inline; font-size:4em; text-align:center; }

#point { -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; }

@-webkit-keyframes mymove 
{
  0% {opacity:1.0;}
  50% {opacity:0;}
  100% {opacity:1.0;}
}


@-moz-keyframes mymove 
{
  0% {opacity:1.0;}
  50% {opacity:0;}
  100% {opacity:1.0;}
}