html,
body {
  height: 100%;
  background-color: #a60000;
/* The html and body elements cannot have any padding or margin. */
}
hr
{
  border: #ddd thin solid;
}
.container:not(.nv)
{
  background-color: #fff;
  box-shadow: 0 0 20px #222;
  padding: 1em;
}
img
{
  width:100%;
  height: auto;
}
/* Sticky footer styles
-------------------------------------------------- */
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer
{
  border-top: #a60000 thin solid;
  padding-top: 1em;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}